@font-face {
  font-family: "Blackcastlemf-BG5n";
  src: url(../../black-castle-mf-font/Blackcastlemf-BG5n.ttf);
}
@font-face {
  font-family: "Forum";
  src: url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
}
:root {
  --animation-time:2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/background.jpg);
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 25vw;
  width: 50vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px;
  border-radius: 20px;
  border-style: solid;
  border-width: 0.1px;
  border-color: rgba(54, 21, 0, 0.4941176471);
}

footer {
  position: fixed;
  bottom: 2vh;
  right: 3vw;
  width: 5%;
  border-radius: 25%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.308);
}

@-webkit-keyframes flicker {
  0% {
    opacity: 96%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes flicker {
  0% {
    opacity: 96%;
  }
  100% {
    opacity: 100%;
  }
}
.ambience-candle-anim::before {
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgb(249, 207, 147);
  -webkit-animation: flicker var(--animation-time) ease alternate infinite;
          animation: flicker var(--animation-time) ease alternate infinite;
  background: radial-gradient(circle, rgba(241, 173, 78, 0.438) 0%, rgb(0, 0, 0) 100%);
}

.ambienceHeaders {
  margin-top: 5vh;
  margin-bottom: 2vh;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.ambienceHeaders h1 {
  font-family: "Blackcastlemf-BG5n";
  font-weight: 100;
  text-shadow: 2px 2px rgba(235, 235, 235, 0.3843137255);
  font-size: 5rem;
}
.ambienceHeaders h2 {
  font-family: "Forum";
  font-weight: 100;
  text-shadow: 2px 2px rgba(235, 235, 235, 0.3843137255);
  font-size: 2rem;
}

.ambience-location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ambience-location-container .form-section {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.ambience-location-container .form-inputs {
  display: flex;
  flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.ambience-location-container h1 {
  font-family: "Forum";
  font-weight: 100;
  text-align: center;
  font-size: 3rem;
  text-shadow: 2px 2px rgba(235, 235, 235, 0.3843137255);
}
.ambience-location-container select {
  font-family: "Forum";
  font-weight: 100;
  align-self: center;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  background-color: rgba(250, 238, 224, 0.4745098039);
  border: none;
  border-radius: 10px;
}
.ambience-location-container select:focus {
  border: none;
}
.ambience-location-container select:hover {
  cursor: pointer;
}

.ambience-form-container {
  margin: 0 5vw;
}
.ambience-form-container form {
  padding: 0 0 20px 20px;
}
.ambience-form-container form .form-inputs {
  display: flex;
  flex-wrap: wrap;
}
.ambience-form-container form h2 {
  font-family: "Forum";
  font-weight: 100;
  font-style: italic;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 5px;
}
.ambience-form-container form input[type=radio] {
  transition: 0.3s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: none;
  font: inherit;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  margin-top: -1px;
  vertical-align: middle;
}
.ambience-form-container form input[type=radio]:hover {
  cursor: pointer;
}
.ambience-form-container form input[type=radio]:checked {
  background-color: rgba(0, 0, 0, 0.281);
}
.ambience-form-container form label {
  font-family: "Forum";
  font-weight: 100;
  margin-left: 5px;
  margin-right: 10px;
  vertical-align: middle;
}

.ambience-button-container {
  display: flex;
  justify-content: center;
}
.ambience-button-container button {
  border-style: none;
  color: #1C0A00;
  background-color: #603601;
  margin: 20px;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}
.ambience-button-container button:hover {
  cursor: pointer;
  opacity: 75%;
}

.link-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  display: flex;
  justify-content: center;
}
.link-container img {
  transition: 0.3s ease-in-out;
  width: 2vw;
  min-width: 40px;
  height: auto;
  opacity: 50%;
  margin-top: 20%;
  margin-bottom: 5px;
}
.link-container img:hover {
  cursor: pointer;
  opacity: 100%;
  transform: scale(1.2);
}

@media screen and (max-width: 550px) {
  body {
    width: 100vw;
  }

  main {
    width: 75vw;
    min-width: 0;
    margin: 0 12.5vw;
  }

  footer {
    position: fixed;
    bottom: 2vh;
    right: 3vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 25%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .ambienceHeaders {
    text-align: center;
  }
  .ambienceHeaders h1 {
    font-size: 20vw;
  }
  .ambienceHeaders h2 {
    font-size: 5vw;
  }

  .ambience-location-container h1 {
    font-family: "Forum";
    font-weight: 100;
    text-align: center;
    font-size: 10vw;
    text-shadow: 2px 2px rgba(235, 235, 235, 0.3843137255);
  }
  .ambience-location-container select {
    font-family: "Forum";
    font-weight: 100;
    align-self: center;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 6vw;
    background-color: rgba(250, 238, 224, 0.4745098039);
    border: none;
    border-radius: 10px;
  }

  .ambience-form-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: none;
  }
  .ambience-form-container form h2 {
    font-size: 5vw;
  }
  .ambience-form-container form input[type=radio] {
    transition: 0.3s ease-in-out;
    width: 5vw;
    height: 5vw;
  }
  .ambience-form-container form label {
    font-family: "Forum";
    font-weight: 100;
    margin-left: 5px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .ambience-button-container button {
    border-style: none;
    color: #1C0A00;
    background-color: #603601;
    margin: 5px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
  }
  .ambience-button-container button:hover {
    cursor: pointer;
    opacity: 75%;
  }

  .link-container {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */